<div class="row job_page">
  <!-- left colum start here -->
  <div class="large-12 small-12 columns" style="margin-top: 1%">
    <dl class="tabs large-12 columns" data-tab>
      <dd class="active"><a href="#panel1"><i class="fa fa-university"></i> Primary</a></dd>
      <% if owner?(@user) %>
        <dd><a href="#panel2"><i class="fa fa-folder-open"></i> My Projects</a></dd>
        <dd><a href="#panel3"><i class="fa fa-user"></i> My Profile</a></dd>
      <% end %>
      <dd><a href="#panel4"><i class="fa fa-bullhorn"></i> My Comments</a></dd>
      <dd><a href="#panel5"><i class="fa fa-comments-o"></i> SMS</a></dd>
    </dl>
    <div class="tabs-content small-12 columns">
      <div class="content active" id="panel1">
        <div class="large-3 small-4 columns">
          <%= image_tag @avatar, alt:"profile-photos", class: "photos_on_job" %>
        </div>
        <div class="panel large-8 small-7 columns left" style="margin-left: 10px">
          <p>
            <%= @first_name %>&nbsp;<%= @last_name %>
          </p>
          <p>
            Email: <%= @user_name %>
          </p>
          <p>
            Address: <%= @address %>
          </p>
        </div>
      </div>

      <% if owner?(@user) %>
        <div class="content" id="panel2">
          <p>
            <div id="job_table">
              <%= render "users/table" %>
            </div>
          </p>
        </div>
        <div class="content" id="panel3">
            <p><%= render "users/edit", user: @user %></p>
        </div>
      <% end %>
      <div class="content" id="panel4">
        <p>
          <div class="row job_page" style="margin-top: 1%">
            <p>
              <%= render :template => "comments/new", comment: @comment %>
            </p>
            <div id="comments">
            </div>
            <p><%= render "comments/show", comment: @comment %></p>
          </div>
        </p>
      </div>
    </div>
  </div >
</div>
