<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar fixed" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Micro Job</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->

        <ul class="right" style="margin: 0px 15px">
          <li class="active"><a href="#">Notification</a></li>
          <li class="has-dropdown" style="margin: 5px">
            <% if signed_in? %>
            <span class="white">
              <%= current_user.first_name + ' ' + current_user.last_name %>
            </span>
            <img style="border-radius: 10px; width:35px" src="<%= current_user.avatar_url %>">
            <ul class="dropdown">
              <li><a href="#">Profile</a></li>
              <li class="active"><a href="/sign_out">Sign out</a></li>
            </ul>
            <% else %>
            <li><a href="/auth/facebook">Sign in</a></li>
          <% end %>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-form">
            <div>
              <% if flash.any? %>
                <div class="alert_customized">
                  <div class="transparent">
                    <%= flash[:notice] %>
                  </div>
                </div>
              <% end %>
            </div>
          </li>
        </ul>
      </section>
    </nav>
    <ul class="breadcrumbs">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <% if current_user %>
        <li>
          <%= link_to "My Dashboard", user_path(current_user) %>
        </li>
      <% end %>
      <li>
        <%= link_to "Browse Jobs", jobs_path %>
      </li>
      <li>
        <%= link_to "Browse Users", users_path %>
      </li>
      <% if current_user %>
        <li>
          <%= link_to "Post New Job", new_job_path %>
        </li>
      <% end %>
    </ul>

      <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
